*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
.container-fluid{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100%;
}