*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: space-around;
}
nav{
    background-color: black;
    padding: 5px;

}
li a{
    color: aliceblue;
    padding: 5px;

}
/* li{
    list-style-type: none;

} */
.blue{
    background-color: blue;
    color: aliceblue;
}
